@import "./breakpoints/breakpoints.scss";

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

@keyframes glitch-text {
  from {
    transform: translate(15px 10px);
  }
  to {
    transform: translate(0 0);
  }
}

.header{
  height: 70px;
  background: black;
  align-items: justify;
  position:fixed;
  width: 100%;
  z-index: 100;
}
.band-logo {
  animation-name: glitch-text;
  animation-duration: 1s;
  position: relative;
  display: flex;
  margin: auto;
  height: 50px;
  display: block;

  @media (max-width: 567px) {
    height: 40px;
    margin: 10px;
  }
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  z-index: 100;
  position: fixed;
  display: flex;
  text-align: left;
  width: 100%;
  left: 2%;

  @media (max-width: 567px) {
    bottom: 0;
    left: 0;
    padding: 10px;
    background: black;
    justify-content: space-between;
  }

  a {
    text-align: center;
    margin: 0 !important;
    transition: all 0.3s ease;

    padding: 10px;
    width: 35px;

    color: white;
    font-size: 18px;
  }
  a:hover {
    transform: translate(0px, -5px);

    background-color: white;
    color: black;
  }
}

a.nav-point {
  top: -150px;
}

.icon-bar-2 {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;

  a {
    text-align: center;
    margin: 0 !important;
    transition: all 0.3s ease;

    padding: 10px;
    width: 40px;
    background-color: black;
    color: white;
    font-size: 25px;
  }
  a:hover {
    background-color: white;
    color: black;
  }

  
}
/* Style the social media icons with color, if you want */


.newalbum{
  width: 60vw;;
  height: 60vw;
  background: green;
  padding: 20px;
  margin: auto;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 100px;
  
}

.yt-video {
	position: relative;
  scroll-snap-stop: always;
	padding-bottom: 56.25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	z-index: 1;

  iframe {
    border: 1rem double black;
    position: absolute;
    width: 100%;
    height: calc(min(70vh, 100%));
    top: 0;
    left: 0;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  a {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }
  a:hover {
    color: $anthrazit;
  }
}

.menu {
  z-index: 1000;
  right: 2%;
  position: fixed;
  height: 43px;
  width: 55px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  @include flexLayout(space-between, flex-end);
  flex-direction: column;
  overflow: hidden;

  &-line {
    width: 70%;
    height: 0.5rem;
    background-color: white;
    position: relative;
    left: 0;
    transition: left 0.3s 0.3s, transform 0.3s;
  }
  &-line-2 {
    width: 50%;
  }
  &.change {
    width: 70px;
    transition: width 0.2s;
  }
}
.change {
  .menu-line-1 {
    left: -35%;
    width: 65%;
    transform: rotate(40deg) translate(6px, -2.8px);
    transform-origin: left bottom;
    transition: left 0.3s, transform 0.3s 0.3s;
  }
  .menu-line-2 {
    left: 5%;
    width: 15px;
    transition: width 0.3s left 0.3s;
  }
  .menu-line-3 {
    left: -35%;
    width: 65%;
    transform: rotate(-40deg) translate(6px, 2.8px);
    transform-origin: left top;
    transition: left 0.3s, transform 0.3s 0.3s;
  }
}

.menu:hover {
  background-color: white !important;
  .menu-line {
    background-color: black;
  }
}

.dsbutton {
  background-color: black;
  color: white;
  font-size: 3rem;
  border: 0;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    color: $anthrazit;
  }
}

/*DATENSCHUTZ*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  h1 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: bold !important;
    font-size: 30px;

    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 25px;
    font-style: bold !important;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  h3 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: bold !important;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  h4 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: bold !important;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  li {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  a {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: blue;
  }

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;

  transform: scale(0);
  transition: 50ms ease-in-out;
  border: 1px solid black;

  z-index: 3000;
  background-color: white;
}

.modal.active {
  transform: scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 3.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.video-container {
  z-index: -10000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.navbar-wrapper{
  transition: 1s;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: black;
  align-items: center;
  position:fixed;
  width: 100%;
  z-index: 100;
}


#cover{
  max-height: 100%;
}